version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:2021.10
    steps:
      - checkout
      - run: git submodule sync && git submodule update --init
      - run:
          name: install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y \
              build-essential \
              nasm \
              xorriso \
              grub2-common \
              grub-pc-bin \
              git \
              clang-format-9 \
              valgrind \
              gcc-10 \
              qemu-system
            sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-9 100
            sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 10
      - run:
          name: build
          command: |
            make iso
            test -f build/x86_64/isofiles/boot/grub/grub.cfg
            test -f build/x86_64/isofiles/boot/initrd.tar
            test -f build/x86_64/dist/kernel-x86_64.bin
            test -f build/x86_64/dist/libc-willOS-x86_64.a
            test -f build/x86_64/dist/willOS-x86_64.iso
      - run:
          name: unit tests
          command: make clean test
      - run:
          name: fmt
          command: |
            make fmt
            git diff --exit-code || (echo "\n\nPlease run 'make fmt' to format the code and fix the problem(s) above"; false)
      - run:
          name: integration tests
          command: |
            export TERM=xterm
            make clean run-test
