version: 2
jobs:
  build:
    docker:
      - image: cimg/base:2020.11
    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y \
              build-essential \
              nasm \
              xorriso \
              grub2-common \
              grub-pc-bin \
              git \
              clang-format-9 \
              valgrind \
              gcc-10
            sudo update-alternatives --install /usr/bin/clang-format clang-format /usr/bin/clang-format-9 100
            sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 10
      - run:
          name: build
          command: |
            make
            test -f build/isofiles/boot/kernel.bin
            test -f build/isofiles/boot/initrd.tar
            test -f build/libc-willOS.a
            test -f build/libk-willOS.a
            test -f build/willOS.iso
      - run:
          name: test
          command: make clean test
      - run:
          name: fmt
          command: |
            make fmt
            git diff --exit-code || (echo "\n\nPlease run 'make fmt' to format the code and fix the problem(s) above"; false)
